<!-- <h1>Hello World</h1>  appName 

<h1>Interpolation</h1>

<h2>{{ getName() }}</h2>

<h2>{{ obj.name }}</h2>
<h2>{{ obj.age }}</h2>

<h2>{{ arr.length }}</h2>

<h3>{{ 10 + 10 }}</h3>

<h3>{{ a + b }}</h3>

<h3>{{ siteUrl }}</h3> 


<app-user-list></app-user-list> 

<h1>Angular Module turtorial</h1>

<app-login></app-login>
<app-signup></app-signup> 

<h1>Call function in Angular</h1>
<button (click)="getAlert('name')">Press to get alert</button>

/--------------------------------------------------------------------/

<h1>Important events in Angular</h1>
<button (click)="myEvent('this is one click event')">Click for event</button>
<br />
<br />
<input
  type="text"
  #box
  (keydown)="myEvent(box.value)"
/>
<br />
<input type="text" #box (blur)="myEvent('blue event')" />
<br />
<div (mouseleave)="myEvent('Mouse in')" style="background-color: skyblue">
  Mouse Events
</div>

/--------------------------------------------------------------------/  

<h1>Important events in Angular</h1>

<button (click)="myEvent('this is click event')">Click Me</button>
<br />
<br />
<input
  type="text"
  #box
  (mouseover)="myEvent('mouse in')"
  (blur)="myEvent(box.value)"
/>
<div
  (blur)="myEvent(box.value)"
  (mouseover)="myEvent('mouse in')"
  style="background-color: skyblue"
>
  Mouse Event
</div>  


/--------------------------------------------------------------------/ 

<input type="text" #box />
<button (click)="getVal(box.value)">Get Value</button>
<h1>{{ currentVal }}</h1>

/--------------------------------------------------------------------/ 
<h1>Property Binding</h1>
<br />
<br />
<input type="text" [disabled]="disabledBox" [value]="name" />
<br />
<br />
<input type="text" disabled="{{ disabledBox }}" value="{{ name }}" />
<br />
<br />
<button (click)="enableBox()">Enable TextBox</button>

/--------------------------------------------------------------------/ 
<h1>Conditions in Angular</h1>

<br />
<h1 *ngIf="show == 'yes'; then ifBlock; else elseBlock">If block</h1>
<ng-template #ifBlock>
  <h1>if Block</h1>
</ng-template>
<ng-template #elseBlock>
  <h1>else Block</h1>
</ng-template> 

<ng-template [ngIf]="show == 'red'">
  <h1>red</h1>
</ng-template>
<ng-template [ngIf]="show == 'blue'">
  <h1>blue</h1>
</ng-template>
<ng-template [ngIf]="show == 'green'">
  <h1>green</h1>
</ng-template>

/--------------------------------------------------------------------/ 

<h1>Switch in Angular</h1>

<div [ngSwitch]="color">
  <h2 style="color: red" *ngSwitchCase="'red'">red Color</h2>
  <h2 *ngSwitchCase="'blue'">Blue Color</h2>
  <h2 *ngSwitchCase="'Green'">Green Color</h2>
</div>

/--------------------------------------------------------------------/ 

<h1>For Loops in Angular</h1>
<br />
<h4 *ngFor="let item of data">{{ item.name }}{{ item.age }}</h4> 

<table border="1">
  <tr>
    <td>Name</td>
    <td>Age</td>
    <td>Email</td>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{ item.name }}</td>
    <td>{{ item.age }}</td>
    <td>{{ item.email }}</td>
  </tr>
</table>

/--------------------------------------------------------------------/ 

<h1>Simple form in Angular</h1>
<br />
<form #simpleForm="ngForm" (ngSubmit)="getUserValue(simpleForm.value)">
  <input type="text" ngModel name="username" placeholder="enter name" />
  <br />
  <input type="text" ngModel name="age" placeholder="enter age" />
  <br />
  <input type="text" ngModel name="address" placeholder="enter address" />
  <br />
  <input type="password" ngModel name="password" placeholder="enter password" />
  <button>get user values</button>
</form>

/--------------------------------------------------------------------/ 
<app-header></app-header>
<h1>Header and Footer in Angular</h1>
<app-footer></app-footer>

/--------------------------------------------------------------------/ 
<h1>Style Binding in Angular</h1>

<h1 style="color: red">Heading 0</h1>

<h1 [style.color]="'green'">Heading 1</h1>
<h1 [style.backgroundColor]="'blue'">Heading 2 binding style</h1>
<h1 [style.color]="color">Dynamic style 1</h1>

<button (click)="updateColor()">Update color</button>

<h1 [style.color]="err ? 'red' : 'green'">red if error</h1>

/--------------------------------------------------------------------/ -->

<h1>Add bootstrap in Angular 10</h1>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too
    good.
  </ngb-alert>
</p>
